body {
  background-color: #b5f8fe;
  font-family: Oswald;
}
.main-header {
  font-size: 75;
  text-align: center;
  border: 9px solid black;
  margin-left: 200px;
  margin-right: 200px;
}
.subheaders {
  background-color: #fbf601;
  font-size: 40;
  text-align: center;
  border: 9px solid black;
  margin-left: 400px;
  margin-right: 400px;
}
.pictures {
  width: 450px;
  border: 9px solid black;
}

.descriptions {
  font-size: 50;
}

.post-2 {
  background-color: tomato;
  font-size: 40;
  text-align: center;
  border: 9px solid black;
  margin-top: 15px;
  margin-left: 400px;
  margin-right: 400px;
}

.post-3 {
  background-color: salmon;
  font-size: 40;
  text-align: center;
  border: 9px solid black;
  margin-top: 15px;
  margin-left: 400px;
  margin-right: 400px;
}
